Repository zapproject/hardhat-bsc, pull requests merged in 2022-02, with the labels that each got.

#379 NFT SDK: Custom Media FetchContentURI Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: NFT, sdk

#381 NFT SDK: Custom Media FetchCurrentAsk Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: NFT, sdk

#388 Burn Custom Media Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#390 Refactor FetchBalanceOf
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk, refactor

#392 Refactor FetchOwnerOf
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk, refactor

#396 Refactor FetchContentURI
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk, refactor

#404 Refactor FetchContentHash
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk, refactor

#407 NFT SDK: Custom Media FetchMetadata Functionality
  sdk/nft/dist/src/mediaFactory.d.ts
  sdk/nft/dist/src/zapMedia.d.ts
  sdk/nft/dist/src/zapMedia.js
  sdk/nft/dist/src/zapMedia.js.map
  sdk/nft/dist/test/zapMedia.test.js
  sdk/nft/dist/test/zapMedia.test.js.map
  sdk/nft/package-lock.json
  sdk/nft/package.json
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/auctionHouse.test.ts
  sdk/nft/test/zapMedia.test.ts
Labels: NFT, sdk

#411 Refactor FetchApproved & Approve
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk, refactor

#413 NFT SDK: Custom Media SetBid Functionality
  sdk/nft/test/zapMedia.test.ts
Labels: NFT, sdk

#414 Refactor Mint
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk, refactor

#415 Issue 370
  sdk/nft/package-lock.json
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: NFT, sdk

#421 NFT SDK: Custom Media RemoveBid Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#422 NFT SDK: Custom Media UpdateContentURI Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#423 NFT SDK: Custom Media RemoveAsk Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#424 NFT SDK: Custom Media FetchCurrentAsk Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#426 NFT SDK: Custom Media RevokeApproval Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#431 NFT SDK: Custom Media TransferFrom Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#432 NFT SDK: Custom Media SafeTransferFrom Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#433 NFT SDK: acceptBid functionality
  .DS_Store
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: NFT, sdk

#434 NFT SDK: Custom Media SetApprovalForAll Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#435 NFT SDK: Custom Media FetchMediaByIndex Functionality
  sdk/nft/src/zapMedia.ts
  sdk/nft/test/zapMedia.test.ts
Labels: sdk

#439 NFT SDK: AuctionHouse Custom Media Integration
  sdk/nft/src/auctionHouse.ts
Labels: sdk

#440 NFT SDK: Test AuctionHouse Custom Media Functionality
  sdk/nft/test/auctionHouse.test.ts
Labels: sdk

#446 NFT SDK: Configuration & Testing Documentation
  sdk/nft/Readme.md
  sdk/nft/dist/src/zapMedia.d.ts
  sdk/nft/dist/src/zapMedia.js
  sdk/nft/dist/src/zapMedia.js.map
  sdk/nft/dist/test/zapMedia.test.js
  sdk/nft/dist/test/zapMedia.test.js.map
Labels: documentation, sdk
